<%- include("../../header.ejs")%> <%-include("../../partials/adminnavbar.ejs")%>
<div class="bg-info-subtle bg-opacity-10 d-flex justify-content-center vh-100">
  <div
    style="margin-top: 6%"
    class="p-5 bg-light bg-opacity-50 shadow-sm col-md-10"
  >
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">username</th>
          <th scope="col">image</th>
          <th scope="col">mobile</th>
          <th scope="col">email</th>
          <th scope="col">dateofjoin</th>
          <th scope="col">orders</th>
          <th scope="col">actions</th>
        </tr>
      </thead>
      <tbody>
        
        <% user.forEach((user,i)=>{%>
        <tr>
            <%=user.isblocked%>
          <th scope="row"><%= i+1 %></th>
          <td><%=user.name %></td>
          <td>images</td>
          <td><%=user.mobilenumber %></td>
          <td><%=user.email %></td>
          <td>dateofjoin</td>
          <td>order</td>
          <td>
            <% if(user.isBlocked===true){%>
                <a href="/admin/unblockuser/<%= user._id%>"><button class="btn btn-sm btn-primary ">Unblock</button>
                </a>    
           <% }else{%>
            <a href="/admin/blockuser/<%= user._id%>"><button class="btn btn-sm btn-primary ">Block</button>
            </a> 
           <% }%>
                    
             <a href="/admin/edituser/<%= user._id%>"><button class="btn btn-sm btn-danger ms-2">edit</button></a> 
            </td>
          </td>
        </tr>
        <%})%>
      </tbody>
    </table>
  </div>
</div>
<%- include("../../footer.ejs")%>
